In [31]:
import pandas as pd

In [32]:
file = pd.read_excel("C:/Users/gatic/Downloads/Extraccion.xlsx", "Hombres_localidad")
file

         A¤o  Cod_Loc Localidad     Sexo  Edad Grupo_Edad  Poblaci¢n
0       2005        1   Usaqu‚n  Hombres     0    00 a 04       2909
1       2005        1   Usaqu‚n  Hombres     1    00 a 04       2954
2       2005        1   Usaqu‚n  Hombres     2    00 a 04       2919
3       2005        1   Usaqu‚n  Hombres     3    00 a 04       2989
4       2005        1   Usaqu‚n  Hombres     4    00 a 04       3079
...      ...      ...       ...      ...   ...        ...        ...
131497  2035        0    Bogot   Mujeres    96    95 a 99       1924
131498  2035        0    Bogot   Mujeres    97    95 a 99       1485
131499  2035        0    Bogot   Mujeres    98    95 a 99       1137
131500  2035        0    Bogot   Mujeres    99    95 a 99        860
131501  2035        0    Bogot   Mujeres   100  100 o m s       2504

[131502 rows x 7 columns]

In [37]:
file.iloc[:,2].unique()

array(['Usaquén', 'Chapinero', 'Santa Fe', 'San Cristóbal', 'Usme',
       'Tunjuelito', 'Bosa', 'Kennedy', 'Fontibón', 'Engativá', 'Suba',
       'Barrios Unidos', 'Teusaquillo', 'Los Mártires', 'Antonio Nariño',
       'Puente Aranda', 'La Candelaria', 'Rafael Uribe Uribe',
       'Ciudad Bolívar', 'Sumapaz', 'Bogot\xa0'], dtype=object)

In [36]:
file.loc[file['Localidad'] == "Usaqu‚n", 'Localidad'] = "Usaquén"
file.loc[file['Localidad'] == "San Crist¢bal", 'Localidad'] = "San Cristóbal"
file.loc[file['Localidad'] == "Fontib¢n", 'Localidad'] = "Fontibón"
file.loc[file['Localidad'] == "Engativ\xa0", 'Localidad'] = "Engativá"
file.loc[file['Localidad'] == "Los M\xa0rtires", 'Localidad'] = "Los Mártires"
file.loc[file['Localidad'] == "Antonio Nari¤o", 'Localidad'] = "Antonio Nariño"
file.loc[file['Localidad'] == "Ciudad Bol¡var", 'Localidad'] = "Ciudad Bolívar"

In [38]:
file = file[file['Localidad'] != 'Bogot\xa0']

In [43]:
file.rename(columns={'Poblaci¢n': 'Población'}, inplace=True)
file.rename(columns={'A¤o': 'Año'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [44]:
file

         Año  Cod_Loc Localidad     Sexo  Edad Grupo_Edad  Población
0       2005        1   Usaquén  Hombres     0    00 a 04       2909
1       2005        1   Usaquén  Hombres     1    00 a 04       2954
2       2005        1   Usaquén  Hombres     2    00 a 04       2919
3       2005        1   Usaquén  Hombres     3    00 a 04       2989
4       2005        1   Usaquén  Hombres     4    00 a 04       3079
...      ...      ...       ...      ...   ...        ...        ...
125235  2035       20   Sumapaz  Mujeres    96    95 a 99          4
125236  2035       20   Sumapaz  Mujeres    97    95 a 99          2
125237  2035       20   Sumapaz  Mujeres    98    95 a 99          2
125238  2035       20   Sumapaz  Mujeres    99    95 a 99          2
125239  2035       20   Sumapaz  Mujeres   100  100 o m s          2

[125240 rows x 7 columns]

In [24]:
file2 = pd.read_excel("C:/Users/gatic/Downloads/Extraccion.xlsx", "Intrafamiliar")
file2

,ANO,GRUPOEDAD,SEXO,NOMBRELOCALIDADRESIDENCIA,PERTENENCIAETNICA,TIPOASEGURAMIENTO,ENTIDADADMINISTRADORA,LUGOCURRENCIAEMOCIONAL,LUGOCURRENCIAFISICA,LUGOCURRENCIASEXUAL,LUGOCURRENCIAECONOMICA,LUGOCURRENCIANEGLIGENCIA,LUGOCURRENCIAABANDONO
0,2017,De 27 - 44 años,Mujer,Ciudad Bolívar,Otros,Subsidiado,Capital Salud EPSS SAS,1. Vivienda,No aplica,No aplica,No aplica,No aplica,No aplica
1,2017,De 1 - 5 años,Hombre,Ciudad Bolívar,Otros,Contributivo,Nueva EPS,1. Vivienda,No aplica,No aplica,No aplica,1. Vivienda,No aplica
2,2017,De 27 - 44 años,Mujer,Ciudad Bolívar,Otros,Subsidiado,Capital Salud EPSS SAS,1. Vivienda,No aplica,No aplica,No aplica,No aplica,No aplica
3,2017,De 60 - 69 años,Hombre,Ciudad Bolívar,Otros,Contributivo,Sanitas EPS SA,1. Vivienda,No aplica,No aplica,No aplica,No aplica,No aplica
4,2017,De 18 - 26 años,Mujer,Ciudad Bolívar,Otros,Contributivo,Medimas EPS,1. Vivienda,No aplica,No aplica,No aplica,No aplica,No aplica
...,...,...,...,...,...,...,...,...,...,...,...,...,...
341240,2023,De 1 - 5 años,Hombre,Santa Fe,Otros,Subsidiado,Capital Salud EPSS SAS,1. Vivienda,1. Vivienda,No aplica,No aplica,1. Vivienda,No aplica
341241,2023,De 27 - 44 años,Mujer,Usaquén,Otros,Contributivo,Famisanar EPS LTDA,1. Vivienda,1. Vivienda,No aplica,1. Vivienda,No aplica,No aplica
341242,2023,De 27 - 44 años,Mujer,Rafael Uribe Uribe,Otros,Contributivo,Sanitas EPS SA,1. Vivienda,No aplica,No aplica,No aplica,No aplica,No aplica
341243,2023,De 1 - 5 años,Hombre,Kennedy,Otros,Contributivo,Compensar EPS,1. Vivienda,No aplica,1. Vivienda,No aplica,No aplica,No aplica
341244,2023,De 6 - 13 años,Mujer,Suba,Otros,Contributivo,Famisanar EPS LTDA,1. Vivienda,1. Vivienda,1. Vivienda,No aplica,1. Vivienda,No aplica

In [70]:
file3 = pd.read_excel("C:/Users/gatic/Downloads/Extraccion.xlsx", "Pobreza_Desigualdad")
file3.drop(file3.columns[0], axis=1, inplace=True) 
file3.drop(file3.columns[0], axis=1, inplace=True)

In [71]:
file3

,Año,Localidad,Indicador,Categoría,Sexo,Valor
0,2018,Bogotá D.C.,Privaciones,Analfabetismo,Ambos sexos,1.6
1,2018,Bogotá D.C.,Privaciones,Bajo logro educativo,Ambos sexos,18.6
2,2018,Bogotá D.C.,Privaciones,Barreras a servicios para cuidado de la primer...,Ambos sexos,9.4
3,2018,Bogotá D.C.,Privaciones,Barreras de acceso a servicios de salud,Ambos sexos,1.2
4,2018,Bogotá D.C.,Privaciones,Desempleo de larga duración,Ambos sexos,12.8
...,...,...,...,...,...,...
373,2022,Bogotá D.C.,Privaciones,Rezago escolar,Ambos sexos,18.7
374,2022,Bogotá D.C.,Privaciones,Sin acceso a fuente de agua mejorada,Ambos sexos,0.4
375,2022,Bogotá D.C.,Privaciones,Sin aseguramiento en salud,Ambos sexos,13.1
376,2022,Bogotá D.C.,Privaciones,Trabajo infantil,Ambos sexos,1.2
377,2022,Bogotá D.C.,Privaciones,Trabajo informal,Ambos sexos,54.1